/* CSS */

/* 
*****************
general
*****************
*/
body{
	/* Image Used */
	background-image: url('../img/BackgroundImage.png');
	/* Full height */
	max-height: 100%; 
	/* Image Settings */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.subTitle {
	text-align: center;
	color: #FFFFFF;
	padding: 0.5em;
	font-size: 3em;
}

.fullWidth {
	width: 100vw;
}

/* Floating Log Out Button */
.FloatButton {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 20px;
	right: 20px;
	background-color: none;
	color: #FFFFFF;
	border-radius: 50px;
	text-align: center;
	z-index: 5;
}

.FloatButton:hover {
	color: #CCCCCC;
}

.my-float{
	font-size: 2em;
	margin-top: 14px;
}

/* 
*****************
footer
*****************
*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 5;
  height: 65px;
}

.footerColumn {
	width: 33%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footerActive {
	background-color: #6C97AA;
}

.footerOption {
	background-color: #37617A;
}

.navOption {
	font-size: 1.2em;
	font-weight: 600;
	color: #FFFFFF;
}

.navOption:hover {
	font-size: 1.2em;
	font-weight: 600;
	color: #FFFFFF;
	text-decoration: none;
}

/* 
*****************
index.html (aka Login Page)
*****************
*/

.logo {
	display: table-cell;
	margin: auto;
	padding-top: 3em;
	width: 70%;
	max-width: 50vh;
}

.loginContent {
	padding-top: 2em;
	margin: auto;
	width: 70%;
	max-width: 50vh;
}

.loginTitle {
	font-size: 2em;
	color: #FFFFFF;
	font-weight: 600;
	letter-spacing: 0.1em;
	padding-top: 1em;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #707070;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .65);
}

/* Login Button Format */
button[type=submit] {
	border-radius: 12px;
	width: 60%;
	background-color: #37617A;
	/* Button Text Style */
	font-size: 2em;
	color: #FFFFFF;
	font-weight: 600;
	letter-spacing: 0.1em;
	/* Center Button Horizontally */
	display: block;
	margin: 1em auto 0 auto;
}

.loginCreateAccount {
	font-size: 1.5em;
	text-align: center;
	font-weight: 600;
	color: #000000;
	margin-top: 0;
	padding-top: 0;
}

.loginLink {
	color: #000000;
}

.loginLink:hover {
	text-decoration: underline;
	color: #000000;
}

/* 
*****************
status.html
*****************
*/
.graphWidth {
	width: 70%;
	margin: 0px auto;
}

.graphItem {
	width: 10%;
	margin: 10px;
	text-align: center;
	height: 40vh;
}

.graphRow {
	height: 90%;
}

.dateRow {
	height: 10%;
	margin: 0px auto;
}

.graphDate {
	font-size: 1.2em;
	margin: 0px auto;
	text-transform: uppercase;
	font-weight: 800;
}

.graphBar {
	width: 60px;
	height: auto;
	margin: 0px auto;
}

.tempHide {
	display: none;
}

.slidecontainer {
  width: 70%;
  margin: 0px auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #FFFFFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 45px;
  border: 0;
  background: url('../img/Slider/blank.png');
  cursor: pointer;
}

.thankMessage {
	text-align: center;
	font-weight: 600;
	font-size: 1.3em;
}

/* 
*****************
connect.html
*****************
*/
.contactItem {
	background-color: #37617A;
	margin: 1em auto;
	padding: 1em;
	width: 100%;
	display: block;
	max-width: 60vh;
}

.contactName {
	color: #FFFFFF;
	font-size: 1.8em;
	vertical-align: middle;
}

.contactProfile {
	width: 2.2em;
	height: auto;
	vertical-align: middle;
	margin-right: 1em;
	margin-left: 1em;
}

.contactArrow {
	float: right;
	display: inline-block;
	font-size: 3em;
	vertical-align: middle;
}

.arrowGreen {
	color: #32CD32;
}

.arrowRed {
	color: #ff0000;
}

.mapContainer {
	padding: 1em;
	width: 100%;
	display: block;
	text-align: center;

}

.contactMap {
	max-width: 60vh;
	padding-bottom: 60px;
}

.contactNotification {
	background-color: #555555;
	color: #FFFFFF;
	display: block;
	max-width: 60vh;
	margin: 0px auto;
	padding: 1em;
}

.connectPrevNotes {
	color: #FFFFFF;
}

.connectPrevNotes:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/* Collapsible Menu */
.contactDetails {
	display: none;
	overflow: hidden;
	width: 100%;
	padding: 1em;
	margin: 0px auto;
	color: #FFFFFF;
}

.collapsible:hover {
	text-decoration: none;
}

/* 
*****************
resources.html
*****************
*/
.resourceItem {
	background-color: pink;
	margin: 1em;
}

.resourceContent {
	padding: 1em;
	margin: 1em;
	width: 100%;
}

.resourcesProfile {
	width: 2.2em;
	height: 2.2em;
	vertical-align: middle;
	margin-right: 1em;
	margin-left: 1em;
	border-radius: 50%;
}

.resourcesContactLink {
	color: #FFFFFF;
}

.resourcesContactLink:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.lastItem {
	margin-bottom: 80px;
}